body {
    background-color: azure;
}
.Card {
    width: 100%;
    height: 310px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  

  .image-cotainer {
    height: 75%;
  }

  .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 10px;
    
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
    text-align: center;
    background-color: cadetblue;
    color: white;
    height: 15%;
  }

  